<% provide(:title, "Access Level") %>
<h1>Access Level</h1>
<div class="col-md-12 col-md-offset-3">
<table>
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>Access Level</th>
		<th>Status</th>
		<% if current_user.access_level == '1'%>
			<th>Delete User</th> 
			<th>Permission</th>
		<% elsif current_user.access_level != '1' %>
			<th>Permission</th>
		<% end %>		
	</tr>
<% @users.each do |user| %>	
	<tr>
		<td><%= link_to user.name, user %></td>
		<td><%= user.email %></td>
		<td><% if current_user.access_level == '1' && !current_user?(user) && user.access_level != '2'%>
			User
		    <% elsif user.access_level != '1' %>
			Admin
		    <% elsif current_user.access_level == '1' || user.access_level == '1' %>
			Super Admin
		    <% end %>
		</td>
		<td><% if user.status == '1' %>
			Customer
		    <% elsif user.status == '2'%>
			Service Partner
		    <% else %>
			Management
		    <% end %>
		</td>
		<% if current_user.access_level == '1' && !current_user?(user) && user.access_level != '2' %>
			<td><%= link_to "Delete", user, method: :delete, data: {confirm: "Delete User?"} %></td> 
			<td><%= link_to "Grant Admin", grant_user_path(user), data: {confirm: "Make Admin?"} %></td>
		<% elsif user.access_level != '1' %>
			<td></td>
			<td><%= link_to "Demote Admin", demote_user_path(user), data: {confirm: "Demote Admin?"}%></td>
		<% else %>
			<td></td>
			<td></td>
		<% end %>
	</tr>
<% end %>
</table>
</div>
