= form_for(@booking, url: book_path) do |f|
  = render 'shared/error_messages', object: f.object
  = f.label :name
  = f.text_field :name, class: 'form-control'
  = f.label :phone_no
  = f.text_field :phone_no, class: 'form-control', onchange: "console.log(this.val)"
  = f.label :email
  = f.email_field :email, class: 'form-control'
  = f.label :booking_date
  = f.text_field :prefered_booking_date, :onclick => "date_pick();"
  = f.label :package
  = f.select :car_year, options_from_collection_for_select(@package, "id", "name"), {class: 'form-control'}, :onchange => "load_car_makes($(this).val());"
  .car_makes
    = f.label "Car Make"
    %select#car_makes{onchange:"load_car_models($(this).val())"}
  .car_models
    = f.label "Car Model"
    = f.select :models_id, ['...loading']
  %h2 Insert captcha verification here
  = f.submit "Send Booking Infromation", class: "btn btn-primary"
