<%= form_for(@booking, url: book_path) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<%= f.label :name %>
	<%= f.text_field :name, class: 'form-control' %>

	<%= f.label :phone_no %>
	<%= f.text_field :phone_no, class: 'form-control' %>

	<%= f.label :email %>
	<%= f.email_field :email, class: 'form-control' %>

	<%= f.label :oil_change_package %>
	<%= f.select :car_year, ['Local Cars | Semi - Synthetics RM 149', 'Local Cars | Fully Synthetics RM 204', 'Produa Axia | Produa Oil - Request Quotes','Other Cars | Request Quote'], class: 'form-control' %>

	<%= f.label :car_model %>
	<%= f.grouped_collection_select :car_model, Make.order(:name), :model, :name, :id, :name, include_blank: true %>
	<h2>Insert captcha verification here</h2>
	<%= f.submit "Send Booking Infromation", class: "btn btn-primary" %>
<% end %>
