<%= form_for(@user, url: csc_path)  do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	
	<%= f.fields_for :customers do |x| %>
		<%= x.hidden_field :user_id, :value => @user.id %>

		<%= x.label :name %>
		<%= x.text_field :name, class: 'form-control' %>

		<%= x.label :phone %>
		<%= x.text_field :phone, class: 'form-control' %>
	<% end %>

	<%= f.hidden_field :status, :value => '1' %>	

	<%= f.label :email %>
	<%= f.email_field :email %>
	
	<%= f.label :password %>
	<%= f.password_field :password, type: 'password' %>

	<%= f.label :password_confirmation %>
	<%= f.password_field :password_confirmation, type: 'password' %>
	
	<h2>Insert captcha verification here</h2>
	<%= f.submit "Send Booking Infromation", class: "btn btn-primary" %>
<% end %>