<% provide(:title, 'Customer Signup') %>
<div class="center jumbotron">
		<h1>Customer Signup</h1>
		<p>Please fill in the form below with the correct information</p>
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@customer, url: csn_path) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<%= f.label :name %>
		<%= f.text_field :name, class: 'form-control' %>
	
		<%= f.label :phone_no %>
		<%= f.text_field :phone_no, class: 'form-control' %>
	
		<%= f.label :email %>
		<%= f.email_field :email, class: 'form-control' %>
	
		<h2>Insert captcha verification here</h2>
		<%= f.submit "Send Booking Infromation", class: "btn btn-primary" %>
<% end %>
	</div>
</div>
