<h1>Booking Request</h1>

<p>Hi <%= @booking.name %>,</p>

<p>Your booking request copy, details below:<p>

<p>Request made by:<hr>
Name: <%= @booking.name %>
Phone: <%= @booking.phone_no %>
</p><p>
Package Details:<hr>
Package: <%= @booking.car_year %>
Car Make: <%= @booking.car_make %>
Car Model: <%= @booking.car_model %>

<hr>Thank you,
SERV
</p>
