<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<%= link_to "SERV", root_url, id: "logo" %>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Booking", book_path %></li>
				<% if logged_in? %>
				<% if current_user.access_level?%>
				<li><%= link_to "Management", mng_path %></li>
				<% end %>
				<li><%= link_to "Logout", logout_path %></li>
				<% else %>
					<li><%= link_to "Login", login_path %></li>
				<% end %>
			</ul>
		</nav>
	</div>
</header>