<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/include' %>
  </head>

  <body>
	<%= render 'layouts/header' %>
  <h2>Value:<%= @current_user %></h2>
	<%= flash.each do |message_type, message| %>
		<div class="alert alert-<%= message_type %>"><%= message %></div>
	<% end %>
	<%= yield %>
	<%= render 'layouts/footer' %>
  </body>
</html>
